body {
  background-color: #ccc;
  margin: 0;
}
#status {
  height: 2rem;
  background-color: white;
  margin: 0;
  padding: 1px;
}
#status p {
  margin: 0;
}
#frame {
  width: 640px;
  height: 360px;
  margin: 0 auto;
  display: block;
}
.error {
  color: #c00;
  font-weight: bold;
}

